* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.topnav {
    overflow: hidden;
  }

  .header {
      width: 100%;
      height: 250px;
  }

.sidenav {
    margin-top: 250px;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
  }

.main {
    margin-left: 250px;
    /* Same as the width of the sidenav */
    padding: 20px 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
    /* Add an active class to the active dropdown button */
    .active {
        background-color: green;
        color: white;
    }
/* Optional: Style the caret down icon */
    .fa-caret-down {
        float: right;
        padding-right: 8px;
    }

}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    
    background-color: #262626;
    padding-left: 8px;
}

.addCharLeft {
    display: inline-block;  
    width: 10%;
    }  

.addCharRight {
    display: inline-block;  
    width: 49%;
    }  

.chars {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
    height: 250px;
  }
  
  #square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    height: 20%;
    width: 29%;
    border: 2px solid gray;
    cursor: pointer;
  }

  .main > .pictures {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
    align-content: stretch;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }